<h1 class="text-center">Our Products</h1>
<div id="products" class="product">
  <div class="product-card container">
    <% @products.each do |product| %>
      <div class="card-body">
        <%= render product %>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? && current_user.admin %>
  <%= link_to "New product", new_product_path %>
<% end %>
<% @products.each do |product| %>
  <% if product.card %>
    <%= product.name%>
  <% end %>
<% end %>
